glob2
python-dotenv
faicons
shiny
pathlib
requests
pandas
langchain_openai
langchain_experimental
icons
xlrd
tabulate
matplotlib
numpy
scikit-learn
statsmodels
seaborn
openpyxl
beautifulsoup4
tokenizers
shinyswatch
ipyleaflet
shinywidgets
shiny-calendar
langchain
langgraph
langsmith
langgraph-prebuilt
langchain-community
tokenizers
langchain-openai
langchain-tavily
langchain-google-genai
langchain-chroma
langgraph-swarm
