#recommendations img {
    width: 100%;
    height: 100%;
}


#cip_logo {
    width: 10% !important;
    height: 5% !important;
  }
  
#cip_logo img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* optional, if you want to preserve aspect ratio */
}
